body{
    margin: 0%;
    padding: 0%;
    font-family: "Satisfy", serif;
    color: white;
}
header{
    height: 650px;
    background-color: #f4c07a;
    font-size: 30pt;
}
#headerFunc{
    background-color: #f1ab4d;
    font-size: 25pt;
    width: 96%;
    height: 140px;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    padding-inline: 30px;
}
#logo{
    width: 120px;
    height: 110px;
    padding: 10px;
}
.menu{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 200px;
}
header .menu li{
    font-size: 32pt;
}
#msg{
    padding: 50px;
    padding-top: 20px;
    width: 700px;
    text-align: justify;
}
#imgINIT{
    padding-left: 100px;
    width: 500px;
    height: 320px;
    padding-top: 30px;
}
#buttonStart{
    width: 300px;
    height: 80px;
    margin-left: 200px;
}

footer{
    display: flex;
    height: 70px;
    background-color: #f1ab4d;
    font-size: 8pt;
    padding-top: 9px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
footer .menu li{
    font-size: 26px;
}   

main{
    color: black;
    justify-content: center;
}
main h1{
    font-size: 35pt;
    display: flex;
    justify-content: center;
}
.pratos{
    width: 700px;
    height: 450px;
    background-color: #fbead3;
    margin: 30px;
    border-radius: 10%;
    align-items: center;
    padding: 20px;
}
.pratos img{
    width: 400px;
    height: 300px;
}
.pratos h1{
    margin: 2%;
    font-size: 25pt;
}