body{
    margin: 0%;
    padding: 0%;
    font-family: "Satisfy", serif;
    color: white;
}
#headerFunc{
    background-color: #f1ab4d;
    font-size: 25pt;
    width: 96%;
    height: 140px;
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    padding-inline: 30px;
}
#logo{
    width: 120px;
    height: 110px;
    padding: 10px;
}
.menu{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    padding-left: 200px;
}
header .menu li{
    font-size: 32pt;
}
header .menu li:hover{
    font-size: 40pt;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#msg{
    padding: 50px;
    padding-top: 20px;
    width: 700px;
    text-align: justify;
}
#imgINIT{
    padding-left: 100px;
    width: 500px;
    height: 320px;
    padding-top: 30px;
}
#buttonReserva{
    width: 350px;
    height: 80px;   
}
#buttonReserva:hover{
    width: 400px;
    height: 90px;
}

footer{
    display: flex;
    height: 70px;
    background-color: #f1ab4d;
    font-size: 8pt;
    padding-top: 9px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
footer .menu li{
    font-size: 26px;
}   

main{
    color: black;
    display: flex;
    justify-content: center;
}
main h1{
    font-size: 35pt;
    display: flex;
    justify-content: center;
}
#reserva{
    width: 900px;
    height: 600px;
    background-color: #fbead3;
    margin: 30px;
    border-radius: 10%;
    padding: 20px;
    text-align: center;
}
#reserva h1{
    margin: 2%;
    font-size: 40pt;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
ins{
    cursor: pointer;
}
.labels{
    text-align: left;
    padding-bottom: 40px;
    padding: 20px;
}
.labels label{
    font-size: 28pt;
}
.labels input{
    width: 600px;
    height: 40px;   
}
button{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
#midias img{
    width: 50px;
    height: 50px;
    padding-right: 50px;
    padding-top: 10px;
}